.html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.header {
    background-color: rgb(0, 19, 51);
    color: white;
    text-align: center;
    padding: 20px;
}
.header h1 {
    font-size: 40px;

}
.main{
    background-color: rgb(193, 193, 241);
}

.scoreboard {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    display: flex;  
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

}
.scoreboard-info{
    margin-top: 20px;
    height: 30vh;
    font-size: 3em;  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#reset{
    width: 10vh;
    height: 5vh;
    border-radius: 40px;
    margin-left: 20px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-content: center;
    flex-shrink: 1;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.scores-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.sign-choice{
    width: 30vh;
    height: 25vh;
    border-radius: 40px;
    margin-left: 20px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-content: center;
    flex-shrink: 1;
    justify-content: center;
    font-size: 8em;
    
}

.scores-container h3{
    font-size:50px;
    text-align: center;
   
}
.game-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
.btn-square{
    width: 15vh;
    height: 15vh;
    margin-bottom: 20px;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #950d0d;
}
.sign{
    font-size: 2em;
     
}
.sign:hover{
    cursor: pointer;
}
.sign:active{
    transform: scale(0.9);
}
.footer{
    background-color: rgb(0, 19, 51);
    color: white;
    text-align: center;
    padding: 20px;
    
}
@media only screen and (max-width: 800px) {
    /* Adjust styles for screens smaller than 600px (e.g., phones) */
    .header {
      padding: 10px; /* Decrease padding for header */
    }

    /* Other adjustments as needed */
  
    .scoreboard-info{
        font-size: 1.5em;
    }
}
```
```
   